.Rti{
    background-color: #172B5A;
    height: 200px;
    width: 1130px;
text-align: center;
color: white;
font-size: x-large;
margin-left: 50px;
padding:10px 50px 0px 50px;
font-family: Arial, Helvetica, sans-serif;
}

.first{
    padding:10px 50px 0px 50px;
}
.first h3 {
    font-weight: 100;

}
.first h4{
    font-weight: 100;

}

table{
    padding:0px 50px 0px 50px;
}
.tablefirst{
    background-color:#1C2052;
    border-collapse: collapse;
    margin:0px 50px 0px 50px;
    width: 1230px;


}
.tablefirst thead th{
    background-color:#2D337B;
    color: white;
   height: 40px;
   border: 0.5px solid #363C83;  
   
  
}

.tablefirst tbody td{
    padding: 40px;
    background-color: #1C2052;
    
    border: 0.5px solid #363C83;   
    color: white;
}
.lastbottom{
    
padding:0px 50px 0px 50px;

}
.lastbottom h3{
    font-weight:100;

}
.ttt{
    width: 1230px;
}
.gbody{
   
    padding:0px 50px 0px 50px;
}

.gbody h3{ font-weight: 100;
    font-size: x-large;
    padding:0px 50px 0px 50px;
   

}
.tabletwo{
    padding: 20px;
    width: 1230px;
    background-color: #1C2052;
    border: 1px solid ;
   color: white;
   border-collapse: collapse;
   
}
.tabletwo td{
padding: 20px;
    background-color: #1C2052;
    border: 0.5px solid #363C83;
    color: white;
}